@using Site.Models
@model LandingViewModel

<div class="landing">
	<partial name="~/Shared/Components/Header.cshtml"
	         model="@(new Header
	                {
		                Logo = Model.Event.TopLogoUrl,
		                TransferName = Model.Event.Transfer?.Name,
		                ContactPhone = Model.Event.ContactPhone,
		                ContactEmail = Model.Event.ContactEmail
	                })"/>

	<main class="landing__content">

		<partial name="~/Shared/Sections/_Hero.cshtml" model="@Model" />

		<partial name="~/Shared/Sections/_Features.cshtml" />

		<partial name="~/Shared/Sections/_About.cshtml" model="@Model" />

		<partial name="~/Shared/Sections/_Transfer.cshtml" model="@Model" />

		<partial name="~/Shared/Sections/_Advantages.cshtml" model="@Model" />

		<partial name="~/Shared/Sections/_Transport.cshtml" />

		<partial name="~/Shared/Sections/_Cta.cshtml" />

		<partial name="~/Shared/Sections/_Cases.cshtml" />

		<partial name="~/Shared/Sections/_Process.cshtml" />

		<partial name="~/Shared/Sections/_Booking.cshtml" model="@Model" />

	</main>

	<partial name="~/Shared/Components/Footer.cshtml"
	         model="@(new Footer
	                {
		                Logo = Model.Event.BottomLogoUrl,
		                TransferName = Model.Event.Transfer?.Name,
		                ContactPhone = Model.Event.ContactPhone,
		                ContactEmail = Model.Event.ContactEmail,
		                TransferLegalAddress = Model.Event.Transfer?.LegalAddress
	                })"/>
</div>
